
.wrap{
    width: 300px;
    border: 1px solid #ddd;
    min-height: 100px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrap input{
    width: calc(100% - 5px);
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.buttons button{
    height: 30px;
    width: 30px;
}


/*Код нижче ховає стрілочки на інпутах*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;